{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% for i in notes %}
        <h1>{{ i.title }}</h1>
        <p>{{ i.date|date }}</p>
        <div>{{ i.body|safe }}</div>
    {% endfor %}
</body>
